- var projects=projects_json

mixin project(attrs)
    .project-container.row.justify-content-center
        h2=attrs.name
        .row.justify-content-around
            .screenshot.col-12.col-md-6.row.justify-content-center.align-items-center
                a(href=attrs.link, target='_blank' rel="noopener noreferrer")
                    if attrs.img === ""
                        div.img-fluid 
                            p Preview Not Yet Available.
                            br 
                            p Please check back soon...
                    else if attrs.img.endsWith(".mp4")
                        video(controls).img-fluid
                            source(src=attrs.img, type="video/mp4",
                            style="max-height:640px;")

                    else
                        img.img-fluid(src=attrs.img, alt=attrs.name, 
                            style="max-height:640px;")
            .description.col-12.col-md-6
                p=attrs.desc
                p.mb-0 Built with:
                .technologies
                    each tech in attrs.techs
                        span=tech

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Tanner Chell
        link(type='text/css', rel='stylesheet', href='/bootstrap.css')
        link(type='text/css', rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/solid.css', integrity='sha384-+0VIRx+yz1WBcCTXBkVQYIBVNEFH1eP6Zknm16roZCyeNg2maWEpk/l/KsyFKs7G', crossorigin='anonymous')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css', integrity='sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0', crossorigin='anonymous')
        script(src='/jquery.js')
        script(src='/js/contact.js')
    body
        nav.navbar.flex-row.justify-content-center
            a.nav-link(href='/')
                span.fas.fa-home
                span.sr-only Home
            a.nav-link(href='#projects') Projects
            a.nav-link(href='#education') Education
            a.nav-link(href='#contact') Contact
        main.container-fluid
            section#about.container
                h1 about me
                .row.justify-content-center
                    .col-sm-4.order-2.order-sm-1
                        img#headshot.img-fluid(src='/image/headshot.jpg', alt='Picture of Tanner')
                    .col-sm-8.order-1.order-sm-2
                        p
                            | I Graduated in Spring of 2019 from the University of Alberta with a Bachelor of Science in Biology with a minor in Computer science. Since then I've been working as a freelance contractor on some software projects. I also work part time at a climbing gym as a Climbing Instructor, Routesetter, and Team Leader. 
                        p
                            | My hobbies include rock climbing, mountain biking, snowboarding, cross country skiing, camping, hiking and just about anything else outdoors.
                        p
                            | I like the indoors too though and do lots of reading, gaming (especially getting one tapped in Valorant), and mess around with my Arduino and Raspberry Pi once in a while.
            section#projects.container
                h1 projects
                each project in projects
                    +project(project)
            section#education
                h1 education
                div
                    ul#ed-list
                        li.ed-list-item
                            h2 University of Alberta
                            ul
                                li Bachelor of Science in Biology.
                                li Minor in Computer Science
                        hr
                        li.ed-list-item
                            h2 Free Code Camp
                            ul
                                li
                                    a(href="https://www.freecodecamp.org/certification/tchell/front-end-libraries", target='_blank' rel="noopener noreferrer")
                                        | Front End Libraries Certificate
                        hr
                        li.ed-list-item
                            h2 Free Code Camp
                            ul
                                li
                                    a(href='https://www.freecodecamp.org/certification/tchell/javascript-algorithms-and-data-structures', target='_blank' rel="noopener noreferrer")
                                        | Javascript Algorithms and Data Structures Certificate
                        hr
                        li.ed-list-item
                            h2 Free Code Camp
                            ul
                                li
                                    a(href='http://www.freecodecamp.org/certification/tchell/responsive-web-design', target='_blank' rel="noopener noreferrer")
                                        | Responsive Web Design Certificate
                        hr
            section#contact
                h1 get in touch
                .row
                    form#contact-form.col-sm(action='/submit', method='post')
                        h2 Send me an email
                        .form-group
                            label(for='form-name') Name:
                            input#form-name.form-control(type='text', name='name')
                        .form-group
                            label(for='form-email') Email:
                            input#form-email.form-control(type='email', name='email')
                        .form-group
                            label(for='form-message') Message:
                            textarea#form-message.form-control(type='text', name='message', required='')
                        .form-group
                            form(action="?", method="post")
                                div#recaptcha.g-recaptcha(data-callback="recaptchaCompleted" data-sitekey="6LdvjpkUAAAAAE6HxyvlRUQYjEITWoNzEqy-TZTE")
                            input#submit.form-control(type='submit', value='Submit' disabled)
                    script(src='https://www.google.com/recaptcha/api.js?onload=onRecaptchaLoad&render=explicit' async defer)
                    #links.col-sm
                        h2 Other stuff
                        a(href='https://github.com/tchell', target='_blank' rel="noopener noreferrer")
                            span.sr-only Github
                            img#git-logo.img-fluid(src='/image/github.png', alt='github logo', height='40', width='40')
                        a(href='https://www.instagram.com/tchll/', target='_blank'  rel="noopener noreferrer")
                            span.sr-only Instagram
                            img#ig-logo.img-fluid(src='/image/instagram.png', alt='Instagram logo')
                        a(href='https://www.freecodecamp.org/tchell', target='_blank' rel="noopener noreferrer")
                            span.sr-only free Code Camp
                            img#fcc-logo(src='/image/fcc.png', alt='freeCodeCamp logo')
                        a(href='https://codepen.io/tchell/', target='_blank' rel="noopener noreferrer")
                            span.sr-only Code Pen
                            img(src='/image/code-pen.png', alt='CodePen logo')
